<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<script type="application/javascript">
    function insert_new_data() {
        var task_name = $('#todo-task').val();
        console.log(task_name)

        $.post("/add_task", task_name)
            .done(function (id, task_name, bool) {
                console.log(id + " " + task_name)
                // Clear the input field
                $('#todo-task').val("")

                $("#todo-lists").append(`
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            ${task_name}
                            <button id="${id}" type="button" onclick="set_done(${id}})" class=" btn btn-success">
                                <i class="fa fa-check-circle"></i>
                            </button>
                            <button id="${id}" type="button" onclick="delete_task(${id})" class=" btn btn-danger">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        </li>
                      `
                )
            });

    }

    function set_done(id) {
        // change in database
        $.post("/set_done", id)
            .done(function (id) {
                    console.log("Set done" + id);
                }
            );
        $('#' + id).attr('class', 'btn rounded btn-success');
    }

    function delete_task(id) {
        // change in database
        $.post("/delete_task", id)
            .done(function (id) {
                    console.log("Set done" + id);
                }
            );

        $('#' + id).parent().parent().remove()
    }
</script>

<div class="container" align="center">
    {#    <div class="container">#}
    <h1 class="jumbotron">To Do List</h1>
    <div class="container">
        <div class="col-md-6">

            <ul id="todo-lists" class="list-group">
                {% for id, name, bool in data %}
                    <li class="list-group-item d-flex justify-content-between ">
                        {{ name }}
                        <span>
                        {% if bool==1 %}
                            <button id="{{ id }}" type="button" onclick="set_done(id)" class=" btn btn-success">
                                <i class="fa fa-check-circle"></i>
                            </button>
                            <button id="{{ id }}" type="button" onclick="delete_task(id)" class=" btn btn-danger">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        {% else %}
                            <button id="{{ id }}" type="button" onclick="set_done(id)" class=" btn btn-info">
                                <i class="fa fa-check-circle"></i>
                            </button>
                            <button id="{{ id }}" type="button" onclick="delete_task(id)" class=" btn btn-danger">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        {% endif %}
                        </span>

                    </li>
                {% endfor %}

            </ul>

            <br/>

            <div class="input-group mb-3">
                <input id="todo-task" type="text" class="form-control" placeholder="Insert new task in To Do List">
                <div class="input-group-append">
                    <button onclick="insert_new_data()" class="check btn btn-primary" type="button">Insert</button>
                </div>
            </div>
        </div>


    </div>


</div>


<br/>
<br/>
<br/>
<h4 class="m-4">Nishan Paudel</h4>
<h5 class="m-4">This Todo App allow you to:</h5>
<ul class="m-4">
    <li>Create a new Todo task</li>
    <li>View previous Todo tasks</li>
    <li>Modify Todo tasks as completed</li>
    <li>Delete the task</li>

</ul>
<br/>
<br/>
<br/>
<br/>
</body>
</html>